/* events.css – only for events app */
.events-page .filter-tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E2E0D8;
    padding-bottom: 10px;
}

.events-page .filter-tab{
    padding: 8px 16px;
    background: #F0EDE6;
    border-radius: 4px;
    color: #1A1A1A;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}

.events-page .filter-tab:hover {
    background: #E2E0D8;
}

.events-page .filter-tab.active {
    background: #0F3D2E;
    color: #FFFFFF;
}

#button-event-status {
    padding: 8px 16px;
    background: #F0EDE6;
    border-radius: 4px;
    color: #f80808;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
}